body {
  background: var(--color-darkblue);
  text-align: center;
}

h1 {
  color: var(--color-blue);
}

.container {
  display: flex;
  justify-content: center;
  /* align-items: center; */
  /* height: 100vh; */
}

.mora-jai-box {
  position: relative;
  border-radius: 30px;
  box-shadow: 5px 5px 30px rgba(0,0,0,0.5);
  perspective: 1000px;
}

.mora-jai-box > div {
  border-radius: 30px;
}

.box-top {
  position: relative;
  background: linear-gradient(135deg, #a1866f 0%, #7b5e44 100%);
  padding: 50px;
  border: 8px solid #5e3a1a;
  transition: opacity 1s, transform 1s;
  transform-origin: top center;
  z-index: 2;
  /* opacity: 0; */
  perspective: 100px;
  backface-visibility: hidden;
}

.box-top-back {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background-color: #73563d;
  transition: opacity 1s, transform 1s;
  transform-origin: top center;
}

.hide-top {
  transform: rotateX(120deg);
  opacity: 0;
  pointer-events: none;
}

.box-bottom {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  border: 15px solid #5e3a1a;
  box-shadow: inset 0 5px 20px rgba(0, 0, 0, 0.5), inset 0 -5px 20px rgba(0, 0, 0, 0.5);
  box-sizing: border-box;
  background-color: #73563d;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.allowance-token {
  background-color: #A16D39;
  border-radius: 50%;
  cursor: pointer;
  box-shadow: 3px 3px 10px rgba(0, 0, 0, .8);
}

.allowance-token img {
  opacity: .7;
  display:block;
  rotate: 30deg;
}

.grid {
  display: grid;
  grid-template-columns: repeat(3, 80px);
  grid-template-rows: repeat(3, 80px);
  gap: 8px;
}

.cell {
  background: #ccc;
  border: 2px solid #999;
  border-radius: 6px;
  cursor: pointer;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, .8);
}

.corner-button {
  position: absolute;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  cursor: pointer;
  background: #ccc;
  border: 2px solid #999;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, .8);
}

.top-left     { top: 5px; left: 5px; }
.top-right    { top: 5px; right: 5px; }
.bottom-left  { bottom: 5px; left: 5px; }
.bottom-right { bottom: 5px; right: 5px; }

.buttons {
  margin: 10px;
  gap: 10px;
}

/* Colors */
:root {
  --game-gray: #6D767D;
  --game-yellow: #C0BD30;
  --game-pink: #C47DC9;
  --game-white: #E3F0F6;
  --game-black: #1B242B;
  --game-orange: #CF812C;
  --game-purple: #7E238C;
  --game-green: #1DA22F;
  --game-red: #99262D;
  --game-blue: #44B9F8;
  --color-blue: #44B9F8;
  --color-darkblue: #0E1B39;
}
